.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

@media only screen and (max-width: 390px) {
  .main {
    margin: auto;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
}
